@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}


/* ----------------------------------------------------- */
.scrollbar::-webkit-scrollbar {
  display: none;
}
.scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
